input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

#demo {
    margin: 14px;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;

    color: rgba(0, 0, 0, 0.8);
}

.page {
    width: 1366px;
    height: 1130px;
    background: #FFFFFF;
}

html {
    font-family: Montserrat;
}

.navbar-fixed {
    height: 50px;
}

th {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    /* line-height: 24px;
    display: flex; */
    align-items: center;
    text-align: center;

    color: #FFFFFF;
    background-color: #6C63FF;
}

#navigation-bar {
    height: 50px;
    box-shadow: 0px 1px 4px #6C63FF;
}

.tables {
    margin-top: 59px;
}

.pdf {
    position: absolute;
    width: 56px;
    height: 56px;
    left: 63px;
    top: 197px;
}

#dataPDF {
    position: absolute;
    width: 334px;
    height: 55px;
    left: 130px;
    top: 198px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: black;
}

#dataPDF1 {
    position: absolute;
    width: 328px;
    height: 46px;
    left: 898px;
    top: 211px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;

    color: black;
}

.from {
    position: absolute;
    width: 52px;
    height: 22px;
    left: 795px;
    top: 144px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;

    color: #000000;
}

.to {
    position: absolute;
    width: 52px;
    height: 22px;
    left: 975px;
    top: 144px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;

    color: #000000;
}

#fromDate {
    position: absolute;
    width: 140px;
    height: 35px;
    left: 795px;
    top: 162px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

#toDate {
    position: absolute;
    width: 140px;
    height: 35px;
    left: 975px;
    top: 162px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.mongodb {
    position: absolute;
    width: 174px;
    height: 56px;
    left: 702px;
    top: 197px;
}

.pdfTable {
    position: absolute;
    width: 616px;
    /* height: 348px; */
    left: 46px;
    top: 268px;

    background: #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.mongodbTable {
    position: absolute;
    width: 616px;
    left: 704px;
    top: 267px;

    background: #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.brand-text {
    position: absolute;
    width: 165px;
    height: 32px;
    left: 48px;
    top: 8px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo {
    position: absolute;
    width: 36px;
    height: 35px;
    left: 9px;
    top: 8px;
}

.material-icons {
    color: #6C63FF;
}

.home {
    color: black;
}

.home:hover {
    color: #6C63FF;
    background-color: unset;
}

.about-us:hover,
.bank:hover {
    color: #6C63FF;
    background-color: unset;
}

.about-us,
.bank {
    color: black;
}

.started {
    background-color: #6C63FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
}

.right {
    line-height: 49px;
}

.right-img {
    width: 561px;
    height: 358px;
    margin-top: 10%
}

.heading {
    position: absolute;
    width: 223px;
    height: 101px;
    left: 7%;
    top: 100px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bolder;
    font-size: 40px;
    line-height: 49px;
    display: flex;
    align-items: center;

    color: #6C63FF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.growing {
    position: absolute;
    width: 164px;
    height: 152px;
    left: 9px;
    top: 16px;
}

.dataReport {
    position: absolute;
    width: 100%;
    max-width: 195px;
    height: 137px;
    left: 8px;
    top: 27px;
}

body {
    width: 100%;
    max-width: 1349px;
    background-color: white;
    /* or whatever width you want */
    /* margin-right: auto;
    margin-left: auto;*/
    overflow-x: hidden;
}

.hwwHead {
    position: absolute;
    width: 326px;
    height: 66px;
    left: 66px;
    top: 410px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    display: flex;
    align-items: center;

    color: #000000;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.selectedOne {
    color: #6C63FF;
    font-weight: 600;
}

.aboutUs {
    position: absolute;
    width: 78px;
    height: 15px;
    left: 119px;
    top: 66px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;

    color: #000000;
}

.contactUs {
    position: absolute;
    width: 99px;
    height: 17px;
    left: 120px;
    top: 119px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;

    color: #000000;
}

.left-header {
    border-top-left-radius: 10px;
}

.right-header {
    border-top-right-radius: 10px;
}

.headers {
    border-radius: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

td {
    text-align: center;
}

.date {
    font-weight: 600;
    width: 76px;
    align-items: center;
}

.description {
    font-weight: 600;
    width: 219px;
    align-items: center;
}

.withdrawl {
    font-weight: 600;
    width: 120px;
    align-items: center;
}

.deposit {
    font-weight: 600;
    width: 101px;
    align-items: center;
}

.balance {
    font-weight: 600;
    width: 99px;
    align-items: center;
}

.selectedOne1 {
    color: #FFFFFF;
    font-weight: 600;
}


.alertI {
    position: absolute;
    width: 392px;
    height: 306px;
    left: 55px;
    top: 194px;

}

.aboutUsContent {
    position: absolute;
    width: 763px;
    height: 293px;
    left: 504px;
    top: 150px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;

    color: #000000;
}

.hWorkHead {
    position: absolute;
    height: 72px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;

    color: #000000;
}

.hWorkText {
    position: absolute;
    height: auto;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;

    color: #000000;
}

.security890 {
    position: absolute;
    width: 561px;
    height: 358px;
    left: 727px;
    top: 100px;
}

.path {
    position: absolute;
    /* width: 296px;
    height: 38px; */
    left: 293px;
    top: 4px;
}

.holder {
    width: 300px;
    height: 130px;
    border: 5px dashed #ccc;
    margin: 15px;
}

#holder.hover {
    border: 5px dashed #0c0 !important;
    width: 300px;
    height: 130px;
    margin: 15px;
}

#comp:disabled,
#fromDate:disabled,
#toDate:disabled {
    opacity: 50%;
}

#pdfNot {
    width: 200px;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.8);
    position: absolute;
    left: 105px;
    top: 36px;
}

.homeText {
    position: absolute;
    width: 653px;
    height: 445px;
    left: 655px;
    top: 103px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;

    color: #000000;
}

.rectangle25 {
    position: absolute;
    width: 483px;
    height: 160px;
    left: 13px;
    top: 60px;

    background: #FFFFFF;
    border-radius: 5px;
}

.rectangle27 {
    position: absolute;
    width: 376px;
    height: 118px;
    left: 87px;
    top: 22px;

    background: #FFFFFF;
    border: 2px solid rgba(108, 99, 255, 0.5);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.filepath {
    position: absolute;
    width: 296px;
    height: 38px;
    left: 208px;
    top: -48px;
    background: rgba(196, 196, 196, 0.75);
    opacity: 0.75;
    border-radius: 5px;
}

.uploadPDF {
    content: "Upload(.pdf)";
    position: absolute;
    width: 139px;
    height: 33px;
    left: 52px;
    top: -48px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    background: #6C63FF;
    border-radius: 3px;
    color: #FFFFFF;
}

.rectangle28 {
    position: absolute;
    width: 189px;
    height: 35px;
    left: 9px;
    top: 32px;
    opacity: 1.0;
    background: #6C63FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
}

.uploadPDFform {
    position: absolute;
    width: 527px;
    height: 413px;
    left: 85px;
    top: 194px;

    background: #e5e5e5;
    opacity: 1.0;
    border-radius: 20px;
}

.CSecurity {
    position: absolute;
    width: 223px;
    height: 101px;
    left: 66px;
    top: 100px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    display: flex;
    align-items: center;

    color: #6C63FF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.CSecurityText {
    position: absolute;
    width: 620px;
    height: 174px;
    left: 62px;
    top: 230px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    color: #000000;
}

#map {
    position: absolute;
    width: 354px;
    height: 235px;
    left: 972px;
    top: 69px;
}

.rectangle13 {
    /* position: absolute; */
    /* width: 1152px;*/
    height: 52px;
    padding-left: 15px;
    font-weight: 600;
    /* left: 111px; */
    background: rgba(108, 99, 255, 0.5);
}

.rectangle13:focus {
    background-color: #6C63FF;
    font-weight: 600;
    color: white;
}

.plus:focus {
    background-color: #6C63FF;
    color: white;
}

.saqLogo {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 797px;
    top: 193px;
}

.copyrightI {
    position: absolute;
    width: 17px;
    height: 17px;
    left: -19px;
}

.copyright {
    position: absolute;
    width: 327px;
    height: 27px;
    left: 515px;
    top: 348px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;

    color: #000000;
}

.logoC {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 135px;
}

.plus {
    width: 20px;
    margin-right: 20px;
    height: 20px;
    left: 16px;
    top: 15px;
    display: block;
}

.faq1 {
    position: absolute;
    width: 1069px;
    height: 52px;
    top: -1px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;

    color: #000000;
}

.saq {
    position: absolute;
    width: 285px;
    height: 72px;
    left: 854px;
    top: 175px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    display: flex;
    align-items: center;
    text-decoration-line: underline;

    color: #000000;
}

.faq {
    position: absolute;
    width: 423px;
    height: 34px;
    left: 109px;
    top: 485px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    display: flex;
    align-items: center;

    color: #000000;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.whatsapp {

    position: absolute;
    width: 468px;
    height: 43px;
    left: 174px;
    top: 361px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;

    color: #000000;

}

.mail {
    position: absolute;
    width: 468px;
    height: 43px;
    left: 174px;
    top: 304px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;

    color: #000000;
}

.phone {
    position: absolute;
    width: 314px;
    height: 43px;
    left: 174px;
    top: 247px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;

    color: #000000;
}

.generalEnquiries {

    position: absolute;
    width: 321px;
    height: 72px;
    left: 109px;
    top: 177px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    display: flex;
    align-items: center;
    text-decoration-line: underline;

    color: #000000;
}

.rectangle3 {
    position: absolute;
    width: 448px;
    height: 209px;
    left: 797px;
    top: 246px;

    background: #FFFFFF;
    border: 1px solid #6C63FF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.rectangle10 {
    position: absolute;
    width: 407px;
    height: 246px;
    left: 30px;
    top: 474px;

    background: white;
    border-radius: 10px;
    transition: background-color 0.6s ease;
}

.rectangle12 {
    position: absolute;
    width: 407px;
    height: 246px;
    left: 904px;
    top: 474px;

    background: white;
    border-radius: 10px;
    transition: background-color 0.6s ease;
}

/* 
.rectangle12:hover {
    background: #6C63FF;
} */

.rectangle11 {
    position: absolute;
    width: 407px;
    height: 246px;
    left: 467px;
    top: 474px;

    background: white;
    border-radius: 10px;
    transition: background-color 0.6s ease;
}

/* .rectangle10:hover {
    background: #6C63FF;
}

.rectangle11:hover {
    background: #6C63FF;
} */

.rectangle7 {
    position: absolute;
    width: 335px;
    height: 180px;
    left: 9px;
    top: 9px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.rectangle8 {
    position: absolute;
    width: 335px;
    height: 180px;
    left: 9px;
    top: 9px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.rectangle9 {
    position: absolute;
    width: 335px;
    height: 180px;
    left: 9px;
    top: 9px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.hww2 {
    position: absolute;
    width: 140px;
    height: 150px;
    left: 196px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    color: #000000;
}

.hww3 {
    position: absolute;
    width: 140px;
    height: 150px;
    left: 168px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    color: #000000;
}

.dotCon {
    position: absolute;
    top: 730px;
    left: 47.5%;
}

.active1 {
    background-color: #6C63FF;
}

/* .dot:hover {
    background-color: #6C63FF;
} */

.social:hover {
    color: white;
}

.started:hover {
    background-color: #6c63ff;
    ;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    border: 1px solid #021a40;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    top: 673px;
}

.socialMedia {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 169px;
    top: 223px;
}

.securityOn {
    position: absolute;
    width: 162px;
    height: 157px;
    left: 8px;
    top: 16px
}

.hww1 {
    position: absolute;
    width: 140px;
    height: 150px;
    left: 185px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    color: #000000;
}




.followUs {
    position: absolute;
    width: 220px;
    height: 72px;
    left: 99px;
    top: 156px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    display: flex;
    align-items: center;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hr2 {
    position: absolute;
    width: 1366px;
    height: 0px;
    left: 0px;
    top: 336px;

    border: 2px solid #FFFFFF;
    transform: rotate(0.04deg);
}

.vom {
    position: absolute;
    width: 258px;
    height: 72px;
    left: 952px;
    top: 2px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    display: flex;
    align-items: center;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.bankPartners {
    position: absolute;
    width: 116px;
    height: 17px;
    left: 119px;
    top: 91px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;

    color: #000000;
}

.rectangle1 {
    position: absolute;
    width: 1366px;
    height: 375px;
    left: 0px;
    top: 754px;

    background: #6C63FF;
}

.FDetection {
    position: relative;
    width: 220px;
    height: 72px;
    left: 99px;
    top: 2px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    display: flex;
    align-items: center;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 992px) {
    .nav-wrapper {
        width: 82%;
    }
}

@media only screen and (max-width: 768px) {
    .nav-wrapper {
        width: 73%;
    }
}

@media only screen and (max-width: 414px) {
    .brand-logo {
        width: 26%;
    }
}

@media only screen and (max-width: 414px) {
    .brand-logo {
        width: 91px;
    }
}