.page {
    width: 1366px;
    height: 1130px;
    background: #FFFFFF;
}


.growing {
    position: absolute;
    width: 164px;
    height: 152px;
    left: 9px;
    top: 16px;
}

.dataReport {
    position: absolute;
    width: 100%;
    max-width: 195px;
    height: 137px;
    left: 8px;
    top: 27px;
}

body {
    width: 100%;
    max-width: 1349px;
    background-color: white;
    /* or whatever width you want */
    /* margin-right: auto;
    margin-left: auto;*/
    overflow-x: hidden;
}

.hwwHead {
    position: absolute;
    width: 326px;
    height: 66px;
    left: 66px;
    top: 410px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    display: flex;
    align-items: center;

    color: #000000;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.selectedOne {
    position: absolute;
    width: 17px;
    height: 16px;
    left: 627px;
    top: 723px;

    background: #6C63FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.security890 {
    position: absolute;
    width: 561px;
    height: 358px;
    left: 727px;
    top: 100px;
}

.CSecurity {
    position: absolute;
    width: 223px;
    height: 101px;
    left: 66px;
    top: 100px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    display: flex;
    align-items: center;

    color: #6C63FF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.CSecurityText {
    position: absolute;
    width: 620px;
    height: 174px;
    left: 62px;
    top: 230px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    color: #000000;
}

#map {
    position: absolute;
    width: 354px;
    height: 235px;
    left: 972px;
    top: 69px;
}

.rectangle10 {
    position: absolute;
    width: 407px;
    height: 246px;
    left: 30px;
    top: 474px;

    background: white;
    border-radius: 10px;
    transition: background-color 0.6s ease;
}

.rectangle12 {
    position: absolute;
    width: 407px;
    height: 246px;
    left: 904px;
    top: 474px;

    background: white;
    border-radius: 10px;
    transition: background-color 0.6s ease;
}

/* 
.rectangle12:hover {
    background: #6C63FF;
} */

.rectangle11 {
    position: absolute;
    width: 407px;
    height: 246px;
    left: 467px;
    top: 474px;

    background: white;
    border-radius: 10px;
    transition: background-color 0.6s ease;
}

/* .rectangle10:hover {
    background: #6C63FF;
}

.rectangle11:hover {
    background: #6C63FF;
} */

.rectangle7 {
    position: absolute;
    width: 335px;
    height: 180px;
    left: 9px;
    top: 9px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.rectangle8 {
    position: absolute;
    width: 335px;
    height: 180px;
    left: 9px;
    top: 9px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.rectangle9 {
    position: absolute;
    width: 335px;
    height: 180px;
    left: 9px;
    top: 9px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.hww2 {
    position: absolute;
    width: 140px;
    height: 150px;
    left: 196px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    color: #000000;
}

.facebook {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 119px;
    top: 223px;
}

.hww3 {
    position: absolute;
    width: 140px;
    height: 150px;
    left: 168px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    color: #000000;
}

.dotCon {
    position: absolute;
    top: 730px;
    left: 47.5%;
}

.active1 {
    background-color: #6C63FF;
}

/* .dot:hover {
    background-color: #6C63FF;
} */

.social:hover {
    color: white;
}

.started:hover {
    background-color: #6c63ff;
    ;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    border: 1px solid #021a40;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    top: 673px;
}

.instagram {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 169px;
    top: 223px;
}

.linedin {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 219px;
    top: 223px;
}

.twitter {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 269px;
    top: 223px;
}

.securityOn {
    position: absolute;
    width: 162px;
    height: 157px;
    left: 8px;
    top: 16px
}

.hww1 {
    position: absolute;
    width: 140px;
    height: 150px;
    left: 185px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    color: #000000;
}

.aboutUs {
    position: absolute;
    width: 78px;
    height: 15px;
    left: 119px;
    top: 66px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;

    color: #000000;
}

.contactUs {
    position: absolute;
    width: 99px;
    height: 17px;
    left: 120px;
    top: 119px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;

    color: #000000;
}

.followUs {
    position: absolute;
    width: 220px;
    height: 72px;
    left: 99px;
    top: 156px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    display: flex;
    align-items: center;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hr2 {
    position: absolute;
    width: 1366px;
    height: 0px;
    left: 0px;
    top: 341px;

    border: 2px solid #FFFFFF;
    transform: rotate(0.04deg);
}

.vom {
    position: absolute;
    width: 258px;
    height: 72px;
    left: 952px;
    top: 2px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    display: flex;
    align-items: center;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.bankPartners {
    position: absolute;
    width: 116px;
    height: 17px;
    left: 119px;
    top: 91px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;

    color: #000000;
}

.rectangle1 {
    position: absolute;
    width: 1366px;
    height: 375px;
    left: 0px;
    top: 754px;

    background: #6C63FF;
}

.FDetection {
    position: relative;
    width: 220px;
    height: 72px;
    left: 99px;
    top: 2px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    display: flex;
    align-items: center;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}