/* .page {
    width: 1366px;
    height: 1130px;
    background: #E5E5E5;
} */

html {
    font-family: Montserrat;
}

img {
    max-width: 100%;
    max-height: 100%;
}

/* body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
} */

.growing {
    position: absolute;
    width: 164px;
    height: 152px;
    left: 9px;
    top: 16px;
}

.dataReport {
    position: absolute;
    width: 100%;
    max-width: 195px;
    height: 137px;
    left: 8px;
    top: 27px;
}

body {
    /* width: 100%; */
    /* max-width: 1349px; */
    background-color: #E5E5E5;
    /* or whatever width you want */
    /* margin-right: auto;
    margin-left: auto;*/
    overflow-x: hidden;
}

.hwwHead {
    position: absolute;
    width: 326px;
    height: 66px;
    left: 66px;
    top: 450px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    display: flex;
    align-items: center;

    color: #000000;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.selectedOne {
    position: absolute;
    width: 17px;
    height: 16px;
    left: 627px;
    top: 723px;

    background: #6C63FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.textC {
    height: 450px;
}

.imageC {
    height: 450px;
}

.diiv {
    width: 40%;
}

.container1 {
    height: 483px;
}

.security890 {
    width: auto;
    padding: 50px;
    left: 66px;
    position: relative;
    /* position: relative;
    width: 60%;
    /* height: 358px; */
    /* left: 150px;
    top: 50px;
    display: block; */

    /* background-size: contain;
    background-repeat: no-repeat;
    background-image: url("assets/undraw_security_o890.png"); */
}

.getStarted {
    position: relative;
    width: 139px;
    height: 35px;
    left: 58px;
    top: 366px;

    background-color: #6C63FF;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

.CSecurity {
    position: absolute;
    width: 16.67%;
    height: auto;
    padding-left: 4%;
    top: 12%;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 2.5vw;
    line-height: 3.06vw;
    display: block;
    align-items: center;

    color: #6C63FF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.CSecurityText {
    position: absolute;
    width: inherit;
    height: auto;
    /* left: 62px; */
    top: 35%;
    padding-left: 4%;

    white-space: pre-line;
    word-wrap: break-word;
    display: block;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 1vw;
    line-height: 1.25vw;

    color: #000000;
}

.rectangle10 {
    position: absolute;
    width: 407px;
    height: 246px;
    left: 55px;
    top: 525px;

    background: #E5E5E5;
    border-radius: 10px;
    transition: background-color 0.6s ease;
}

.rectangle12 {
    position: absolute;
    width: 407px;
    height: 246px;
    left: 953px;
    top: 525px;

    background: #E5E5E5;
    border-radius: 10px;
    transition: background-color 0.6s ease;
}

/* 
.rectangle12:hover {
    background: #6C63FF;
} */

.rectangle11 {
    position: absolute;
    width: 407px;
    height: 246px;
    left: 500px;
    top: 525px;

    background: #E5E5E5;
    border-radius: 10px;
    transition: background-color 0.6s ease;
}

/* .rectangle10:hover {
    background: #6C63FF;
}

.rectangle11:hover {
    background: #6C63FF;
} */

.rectangle7 {
    position: absolute;
    width: 335px;
    height: 180px;
    left: 9px;
    top: 9px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.rectangle8 {
    position: absolute;
    width: 335px;
    height: 180px;
    left: 9px;
    top: 9px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.rectangle9 {
    position: absolute;
    width: 335px;
    height: 180px;
    left: 9px;
    top: 9px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.hww2 {
    position: absolute;
    width: 140px;
    height: 150px;
    left: 196px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    color: #000000;
}

.facebook {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 119px;
    top: 223px;
}

.hww3 {
    position: absolute;
    width: 140px;
    height: 150px;
    left: 168px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    color: #000000;
}

.dotCon {
    position: absolute;
    top: 775px;
    left: 627px;
}

.active1 {
    background-color: #6C63FF;
}

/* .dot:hover {
    background-color: #6C63FF;
} */


.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    border: 1px solid #021a40;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    top: 725px;
}

.instagram {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 169px;
    top: 223px;
}

.linedin {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 219px;
    top: 223px;
}

.twitter {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 269px;
    top: 223px;
}

.securityOn {
    position: absolute;
    width: 162px;
    height: 157px;
    left: 8px;
    top: 16px
}

.hww1 {
    position: absolute;
    width: 140px;
    height: 150px;
    left: 185px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    color: #000000;
}

.aboutUs {
    position: absolute;
    width: 78px;
    height: 15px;
    left: 119px;
    top: 66px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;

    color: #000000;
}

.contactUs {
    position: absolute;
    width: 99px;
    height: 17px;
    left: 120px;
    top: 119px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;

    color: #000000;
}

.followUs {
    position: absolute;
    width: 220px;
    height: 72px;

    left: 99px;
    top: 156px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    display: flex;
    align-items: center;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hr2 {
    position: absolute;
    width: 1366px;
    height: 0px;
    left: 0px;
    top: 341px;

    border: 2px solid #FFFFFF;
    transform: rotate(0.04deg);
}

.vom {
    position: absolute;
    width: 258px;
    height: 72px;
    left: 952px;
    top: 2px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    display: flex;
    align-items: center;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.bankPartners {
    position: absolute;
    width: 116px;
    height: 17px;
    left: 119px;
    top: 91px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;

    color: #000000;
}

.rectangle1 {
    position: absolute;
    width: 100%;
    height: 375px;
    left: 0px;
    top: 754px;

    background: #6C63FF;
}

.FDetection {
    position: relative;
    width: 220px;
    height: 72px;
    left: 99px;
    top: 2px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    display: flex;
    align-items: center;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 992px) {

    .textC {
        height: 450px;
    }

    .imageC {
        height: 450px;
    }
}

@media only screen and (max-width: 768px) {

    .CSecurity {
        font-size: 50px;
        line-height: 62px;
        text-align: center;
        top: 20px;

    }

    .CSecurityText {
        text-align: unset;
        padding-left: 22px;
        font-size: 15px;
        line-height: 19px;
        top: 182px;
        white-space: pre-line;
    }

    .textC {
        height: 384px;
    }

    .imageC {
        height: 384px;
    }
}

@media only screen and (max-width: 414px) {

    .CSecurity {
        width: 100%;
        font-size: 37px;
        line-height: 45px;
        text-align: center;


    }

    .CSecurityText {
        position: absolute;
        text-align: unset;
        padding: 10px;
        font-size: 15px;
        line-height: 19px;
        top: 80px;
        white-space: pre-line;
    }

    .textC {
        height: 207px;
    }

    .imageC {
        height: 207px;
    }
}

@media only screen and (max-width: 392px) {
    .CSecurity {
        position: relative;
        /* width: 100%; */
        font-size: 37px;
        text-align: center;
        line-height: 45px;
        padding-left: unset;
        padding: -10px;
        margin: unset;

    }

    .CSecurityText {
        position: relative;

        text-align: unset;
        padding: 10px;
        font-size: 15px;
        line-height: 19px;
        top: 0px;
        white-space: pre-line;
        /* word-wrap: break-word; */

    }

    .getStarted {
        position: relative;
        width: 139px;
        height: 35px;
        left: 58px;
        top: 366px;

        background-color: #6C63FF;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        display: flex;
        align-items: center;
        text-align: center;

        color: #FFFFFF;
    }

    .textC {
        height: 360px;
    }

    .imageC {
        height: 196px;
    }
}